<div id="new_city" data-hook></div>

<table class="table" id='listing_cities' data-hook>
  <thead>
    <tr data-hook="cities_header">
      <th><%= Spree.t(:name) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr id="<%= spree_dom_id city %>" data-hook="cities_row">
        <td><%= city.name %></td>
      </tr>
    <% end %>
    <% if @cities.empty? %>
      <tr><td colspan="3"><%= Spree.t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>
